$primary: #8370fe;
$secondary: #bfb7ff;
$tertiary: #f6f4ff;
$green: #6faa75;
$green-light: #e4f9e6;
$white: #fff;
$grey: #82828c;
$grey-light: #cfced2;
$black: #000;
$black-light: #46454b;
$red: #e72b2b;
$red-light: #ffebec;
